table {
    margin-bottom: 5px;
    table-layout:fixed;
}
.bordered {
    border: 1px solid #ababab;
}

.button {
    background-color: #ababab;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #777777;
    position: relative;
    top: 0px;
    transition: all ease 0.2s;
}
.button:active {
    box-shadow: 0 3px 0 #777777;
    top: 3px;
}
